.side-bar {
  width: 230px;
  min-width: 230px;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  > .side-bar-header {
    padding: 10px 0 10px 10px;
    display: flex;
    > .side-bar-select-api {
      width: 100%;
    }
  }

  > .side-bar-operation-list {
    height: 100%;
    overflow: auto;

    > .side-bar-operation {
      padding: 6px;
      cursor: pointer;
      transition: all 0.3s;
      display: flex;
      font-size: small;

      > .side-bar-operation-from {
        color: rgba(0, 0, 0, 0.5);
        margin-right: 5px;
        font-size: smaller;
      }

      > .side-bar-operation-name {
        margin-right: 5px;
        flex-grow: 1;
        &.side-bar-operation-name-missing {
          color: rgba(0, 0, 0, 0.8);
        }
      }
      > .side-bar-operation-duration {
        color: rgba(0, 0, 0, 0.5);
        font-size: smaller;
      }

      &.side-bar-operation-active {
        background-color: aliceblue;
      }
      &:hover {
        color: rgba(0, 0, 0, 0.7);
        background-color: beige;
      }
    }
  }
}
