$keyword-color: purple;
$operation-color: $keyword-color;
$fragment-color: $keyword-color;

$query-name-color: blue;
$fragment-name-color: blue;

$variable-color: red;
$argument-color: orange;
$type-color: lightblue;

$selection-start-color: rgba(0, 0, 0, 0.3);
$selection-end-color: rgba(0, 0, 0, 0.3);

.gql-query {
  font-size: small;
}
.gql-node-operation {
  color: $keyword-color;
}
.gql-node-type {
  // color: blue;
}
.gql-node-keyword {
  color: $keyword-color;
}
.glq-node-type {
  color: steelblue;
}
.gql-node-variable {
  color: red;
}
.gql-node-bool {
  color: darkcyan;
}
.gql-node-string {
  color: darkgreen;
}
.gql-node-number {
  color: coral;
}

.gql-node-argument {
  color: orange;
}
.gql-node-flow {
  color: rgba(0, 0, 0, 0.3);
}
