.trace-node {
  > .trace-node-line {
    display: flex;

    &:hover {
      cursor: pointer;
      background-color: aliceblue;
    }

    > .trace-node-name-title {
      border-right: 1px solid rgba(0, 0, 0, 0.1);
      box-sizing: border-box;
      width: 250px;
      min-width: 250px;
      overflow: hidden;
      padding-bottom: 2px;
      margin-right: 5px;
      cursor: pointer;
      &:hover {
        background-color: aliceblue;
        overflow: visible;
      }

      > .trace-node-indent {
        color: rgba(0, 0, 0, 0.1);
      }
      > .trace-node-name {
        font-size: small;
        margin-right: 5px;
      }
      > .trace-node-type {
        color: rgba(0, 0, 0, 0.5);
        font-size: x-small;
      }
      > .trace-node-more {
        color: rgba(0, 0, 0, 0.5);
      }
    }

    > .trace-node-progress {
    }
  }

  > .trace-node-childs {
  }
}
