.add-json-operation {
  padding: 10px;
  min-width: 500px;
  > .add-json-operation-title {
  }
  > div > .add-json-operation-json-input {
    width: 100%;
    textarea {
      font-size: xx-small;
    }
  }

  > .add-json-operation-submit {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
  }
}
